:root {
  --accent-color-700: #406aa3;
  --accent-color-600: #174ea6;
  --accent-color-500: #1a73e8;

  --primary-color-700: #202124;
  --primary-color-600: #5b6d86;
  --primary-color-500: #dadce0;

  --secondary-color: #00863e;

  --section-margin-bottom: 20rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
button,
input {
  font-family: "Poppins", sans-serif;
}

button {
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

a,
span {
  display: inline-block;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color-700);
}

p {
  color: var(--primary-color-600);
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border: 1px solid var(--primary-color-500);
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease all;
}

.regular-btn {
  color: var(--accent-color-600);
}

.regular-btn:hover {
  color: var(--accent-color-600);
  background: #f4f9ff;
}

.popup {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%) translateY(100%) scale(0.5);
  opacity: 0;
  font-size: 1.8rem;
  border-left: 5px solid;
  border-radius: 0.5rem;
  background: #fff;
  font-weight: 500;
  box-shadow: 3px 3px 20px rgb(32 33 36 / 15%);
  animation: popup-anim 0.2s forwards;
}

.popup-book-added {
  color: var(--primary-color-700);
  border-color: var(--secondary-color);
}

.popup-book-error {
  color: #9d6161;
  border-color: #9d6161;
}

@keyframes popup-anim {
  100% {
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 1;
  }
}

.popup span {
  margin-right: 0.5rem;
}

.popup-info-icon {
  fill: var(--secondary-color);
  margin-right: 1rem;
}

.popup-close-btn {
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 0.2rem;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  z-index: 1000;
}

.popup-close-btn svg {
  fill: var(--primary-color-700);
  border-radius: 50%;
  width: 1.5rem;
  height: auto;
  transition: 0.1s ease all;
}

.popup-book-error .popup-close-btn svg:hover {
  background: #9d6161;
  fill: #fff;
}

.popup-book-added .popup-close-btn svg:hover {
  background: var(--secondary-color);
  fill: #fff;
}

section {
  animation: section-anim 0.4s forwards;
}

.loading-spinner-wrapper {
  position: absolute;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
}

.loading-spinner {
  transform-origin: center;
  width: 4rem;
  animation: loading-spinner-rotate 1s linear infinite;
}

.loading-spinner circle {
  fill: none;
  stroke: var(--primary-color-700);
  stroke-width: 4;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: loading-spinner-circle-anim 0.7s ease-in-out infinite;
}

@keyframes loading-spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-spinner-circle-anim {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes section-anim {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  padding: 0;
  width: 1100px;
  margin: 0 auto;
}

.app-logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--primary-color-700);
}

.app-logo span {
  color: var(--accent-color-500);
}

/* NAVIGATION */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  z-index: 1000;
}

.search-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 40rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.search-wrapper-border {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--primary-color-500);
  transition: 0.2s ease outline-color;
  outline: 2px solid transparent;
}

#search {
  height: 100%;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  flex: 1;
  font-size: 1.8rem;
  color: var(--primary-color-700);
  padding: 0.5rem 1rem;
  font-weight: 500;
  z-index: 1;
}

#search:focus + .search-wrapper-border {
  outline-color: #a8ceff;
}

#search::placeholder {
  color: #b9b9b9;
}

.search-button {
  background: var(--accent-color-500);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: 0.2s ease background-color;
  z-index: 1;
}

.search-button:hover {
  background: #2065d3;
}

.bookshelf-actions {
  position: relative;
  z-index: 1000;
}

.bookshelf-actions:hover .bookshelf-actions-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.bookshelf-btn {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
}

.bookshelf-actions:hover .bookshelf-btn svg {
  transform: rotate(-180deg);
}

.bookshelf-btn svg {
  width: 1.6rem !important;
  margin-left: 0.3rem;
  transition: 0.2s ease transform;
}

.bookshelf-actions-list {
  position: absolute;
  right: 0;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--primary-color-500);
  background: #fff;
  width: 35rem;
  border-radius: 0.5rem;
  transform: translateY(15%);
  transition: 0.2s ease all;
}

.bookshelf-actions-list a {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid var(--primary-color-500);
}

.bookshelf-actions-list a:hover {
  background: #dadce036;
}

.bookshelf-actions-list a .arrow-svg {
  transition: 0.2s ease all;
  opacity: 0;
}

.bookshelf-actions-list a:hover .arrow-svg {
  opacity: 1;
  transform: translateX(5px);
}

.bookshelf-action-img {
  width: 6.5rem;
  margin-right: 3rem;
}

.bookshelf-action-title {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.bookshelf-action-description {
  font-size: 1.5rem;
}

/* HERO SECTION */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: var(--section-margin-bottom);
}

.cta-wrapper h1 {
  font-size: 4.5rem;
  width: 55rem;
}

.cta-wrapper p {
  font-size: 2.3rem;
  margin: 1rem 0;
}

.hero-cta {
  margin-top: 1.3rem;
}

.hero-cta svg {
  margin-left: 0.5rem;
}

.current-reading-book-wrapper {
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 3rem;
  width: 40rem;
  height: auto;
  border-radius: 0.5rem;
  border: 1px dashed var(--primary-color-500);
}

.anim-in {
  animation: anim-in .2s forwards;
}

.anim-out {
  animation: anim-out .4s forwards;
}

@keyframes anim-in {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes anim-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 0;
    transform: translateX(-10%);
  }
  
  100% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

.current-reading-book-wrapper .no-book-img {
  width: 14rem;
  height: auto;
}

.current-reading-book-wrapper .reading-book-img {
  width: 11rem;
  height: 14rem;
}

.current-reading-book-wrapper h3 {
  font-size: 1.6rem;
  margin: 2rem 0;
}

.current-reading-book-wrapper h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.current-reading-book-wrapper p {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.current-reading-book-wrapper .btn svg {
  margin-left: 0.5rem;
}

.hero-btn-finished {
  color: var(--secondary-color);
}

.hero-btn-finished:hover {
  background: #eafff4;
}

.hero-btn-finished svg,
.current-reading-banner svg {
  margin-right: 0.5rem;
}

.current-reading-banner {
  display: inline-flex;
  align-items: center;
  background: #fff;
  padding: 0 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--accent-color-600);
  top: -1.5rem;
}

/* BEST SELLED BOOKS SECTION */

.best-selled-books h2 {
  display: inline-flex;
  align-items: center;
  font-size: 2.5rem;
}

.best-selled-books h2 svg {
  fill: var(--secondary-color);
  margin-right: 0.5rem;
  width: 2.5rem;
  height: auto;
}

.best-selled-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem 0 2rem 0;
}

.best-selled-title-wrapper a {
  font-size: 1.3rem;
  padding: .5rem;
  background: var(--accent-color-700);
  color: #fff;
  border: none;
}

.best-selled-title-wrapper a:hover {
  background: #36598a;
}

.best-selled-books h3 {
  font-size: 1.8rem;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--primary-color-500);
}

.book-list .book {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: calc(96% / 5);
  height: 33rem;
  margin: 1.5rem 0;
}

@keyframes book-anim {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

li.book > a {
  padding: 1rem;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-color-500);
  border-radius: 0.5rem;
  transition: 0.2s ease all;
}

li.book > a:hover {
  box-shadow: 3px 3px 20px rgb(32 33 36 / 15%);
  border-color: transparent;
}

.book-list img {
  width: 10rem;
  height: 13rem;
}

.book-list h4 {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.weeks-on-list {
  color: var(--primary-color-600);
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.book-rank {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color-600);
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 2.3rem;
  font-weight: 400;
  font-family: "Lora", "Poppins", sans-serif;
}

.book-list p {
  font-size: 1.5rem;
}

.card-icon-right-arr {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 2.5rem;
  height: auto;
  fill: var(--accent-color-500);
}

/*TOP 15 SECTION */

.top-15-section h1 {
  font-size: 2rem;
}

.top-15-section h3 {
  font-size: 1.5rem;
  color: var(--primary-color-600);
  margin-bottom: 2rem;
}

/* SINGLE BOOK PAGE */

.single-book {
  margin-top: 10rem;
}

.single-book-actions {
  display: flex;
}

.single-book-actions .img-wrapper {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-right: 5rem;
}

.buy-book-btn {
  width: 100%;
  margin-top: 2rem;
  background: var(--accent-color-700);
  color: #fff;
}

.buy-book-btn:hover {
  background: #36598a;
  color: #fff;
}

.single-book-actions img {
  width: 100%;
  height: 18rem;
}

.single-book-actions h2 {
  font-size: 2rem;
}

.single-book-actions p {
  font-size: 1.6rem;
  margin: 0.5rem 0 2rem 0;
}

.single-book-cta-wrapper button:not(:first-of-type) {
  margin-left: 1.5rem;
}

.single-book-cta-wrapper button svg {
  margin-right: 0.5rem;
}

.single-book-cta-wrapper button:nth-of-type(1) {
  color: var(--accent-color-500);
}

.single-book-cta-wrapper button:nth-of-type(3) {
  color: var(--secondary-color);
}

.single-book-cta-wrapper button:nth-of-type(3):hover {
  background: #eafff4;
}

.single-book-description-details {
  margin-top: 5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--primary-color-500);
}

.book-description-wrapper {
  position: relative;
}

.book-description {
  max-height: 150px;
  overflow: hidden;
  font-size: 1.6rem;
  transition: 0.3s ease all;
  line-height: 2.5rem;
  color: var(--primary-color-600);
}

.book-description-bottom-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    transparent 0%,
    transparent 84%,
    #ffffff47 84%,
    #ffffffcf 95%
  );
  left: 0;
  top: 0;
}

.book-description b,
.book-description i {
  color: var(--primary-color-700);
}

.book-description p {
  color: var(--primary-color-600);
}

.single-book-description-details .read-more-btn {
  color: var(--accent-color-600);
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.single-book-description-details .read-more-btn svg {
  margin-left: 0.5rem;
}

.single-book-details {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding-top: 2.5rem;
}

.single-book-details h3,
.single-book-details p {
  font-size: 1.5rem;
}

.single-book-details h3 {
  margin-bottom: 0.8rem;
}

.single-book-details p,
.single-book-details p span {
  display: inline-flex;
  align-items: center;
}

.single-book-details p span {
  color: var(--secondary-color);
  margin-right: 0.5rem;
}

/* SEARCH SECTION */
.search-section,
.bookshelf-section,
.top-15-section {
  margin-top: 6rem;
}

.search-section .book-list,
.bookshelf-section .book-list {
  margin-bottom: 0;
  border-bottom: none;
}

.search-section-title {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.search-section-title svg {
  margin-right: 0.5rem;
}

.search-section-title span {
  font-weight: 700;
  color: var(--primary-color-700);
  margin-left: 0.7rem;
}

/* BOOKSHELF SECTION */
.bookshelf-section h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.bookshelf-section p {
  font-size: 1.7rem;
  margin-bottom: 5rem;
}

.move-book-wrapper {
  position: relative;
  text-align: start;
  width: fit-content;
  z-index: 100;
  margin-bottom: 1.2rem;
}

.move-book-options {
  position: absolute;
  top: 100%;
  background: #fff;
  border-radius: 0.5rem;
  min-width: 20rem;
  box-shadow: 3px 3px 20px rgb(32 33 36 / 15%);
  opacity: 0;
  visibility: hidden;
  transform: translateY(1.5rem);
  transition: 0.2s ease all;
}

.move-book-option {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 1.2rem 0.8rem;
  transition: 0.2s ease background-color;
  color: var(--primary-color-700);
  font-weight: 500;
}

.move-book-option:not(:last-of-type) {
  border-bottom: 1px solid var(--primary-color-500);
}

.move-book-option:hover {
  background: #dadce036;
}

.move-book-option svg {
  opacity: 0;
  transform: translateX(0);
  transition: 0.2s ease all;
}

.move-book-option:hover svg {
  transform: translateX(5px);
  opacity: 1;
}

.move-book-btn {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--accent-color-700);
  cursor: pointer;
}

.move-book-btn svg {
  transition: 0.2s ease transform;
  margin-left: 0.5rem;
}

.move-book-btn-active svg {
  transform: rotate(-180deg);
}

.move-book-drop-visible {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.remove-book-btn {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.remove-book-btn a {
  font-size: 1.3rem;
  border: 1px solid var(--primary-color-500);
  border-radius: 0.5rem;
  padding: 0.5rem !important;
  cursor: pointer;
  color: #9d6161;
  font-weight: 500;
  transition: 0.2s ease background-color;
}

.remove-book-btn a:hover {
  background: #9d61610e;
}

.empty-bookshelf-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(15px);
  animation: book-anim 0.4s forwards;
}

.empty-bookshelf-wrapper img {
  width: 15rem;
  height: auto;
}

.empty-bookshelf-wrapper h1 {
  margin-top: 2rem;
}

.empty-bookshelf-wrapper a,
.empty-bookshelf-wrapper button {
  color: var(--accent-color-500);
  font-weight: 500;
  font-size: inherit;
  cursor: pointer;
}

/* ERROR SECTION */

.error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  width: 100%;
}

.error-section svg {
  width: 11rem;
  height: auto;
}

.error-section svg {
  fill: #9d6161;
}

.error-section h1 {
  font-size: 2.2rem;
  margin-top: 2rem;
}

.error-section .btn {
  margin-top: 2rem;
}
