:root {
  --accent-color-700: #406aa3;
  --accent-color-600: #174ea6;
  --accent-color-500: #1a73e8;

  --primary-color-700: #042550;
  --primary-color-600: #597193;
  --primary-color-500: #dadce0;

  --list-hover-color: #f7f9ff;
  --outline-color: #a8ceff;

  --secondary-color: #01875f;

  --section-margin-bottom: 20rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
button,
input {
  font-family: "Poppins", sans-serif;
}

/* TRANSITIONS */

.book-item-enter {
  opacity: 0;
  transform: translateX(10%);
}
.book-item-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.4s ease;
}
.book-item-exit {
  opacity: 1;
  transform: translateX(0);
}
.book-item-exit-active {
  opacity: 0;
  transform: translateX(-10%);
  transition: all 0.4s ease;
}

/* /////// */

button {
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--outline-color) !important;
}

a,
span {
  display: inline-block;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color-700);
}

p {
  color: var(--primary-color-600);
}

section,
.nav-content,
.hero-section-content {
  width: 1100px;
  margin: 0 auto;
}

section {
  padding-bottom: 5rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border: 1px solid var(--primary-color-500);
  border-radius: 0.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease all;
}

.regular-btn {
  color: var(--accent-color-600);
}

.regular-btn:hover {
  color: var(--accent-color-600);
  background: #f4f9ff;
}

.popup {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  position: fixed;
  width: fit-content;
  max-width: 95%;
  z-index: 1000;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  border-left: 5px solid;
  border-radius: 0.5rem;
  background: #fff;
  color: var(--primary-color-700);
  box-shadow: 3px 3px 20px rgb(32 33 36 / 15%);
}

/* POPUP TRANSITIONS */
.popup-enter {
  transform: translate(-50%, 100%);
  opacity: 0;
}

.popup-enter-active {
  transform: translate(-50%, 0%);
  opacity: 1;
  transition: all 0.2s ease;
}

.popup-exit {
  transform: translate(-50%, 0%);
  opacity: 1;
}

.popup-exit-active {
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: all 0.2s ease;
}

/* ///// */

.popup a {
  display: inline-flex;
  align-items: center;
  margin-left: 3rem;
  margin-top: 0.5rem;
  font-weight: 400;
  text-decoration: underline;
  color: inherit;
}

.popup a svg {
  margin-left: 0.5rem;
}

.popup-message {
  display: flex;
  align-items: center;
}

.popup-message h3 {
  font-size: 1.8rem;
}

.popup-message h3 span {
  font-weight: 500;
}

.popup-book-added {
  border-color: var(--secondary-color);
}

.popup-book-added .popup-info-icon {
  fill: var(--secondary-color);
}

.popup-book-error {
  border-color: #9d6161;
}

.popup-book-error .popup-info-icon {
  fill: #9d6161;
}

@keyframes popup-anim {
  100% {
    transform: translateX(-50%) translateY(0) scale(1);
    opacity: 1;
  }
}

.popup span {
  margin-right: 0.5rem;
}

.popup-info-icon {
  margin-right: 1rem;
  flex-shrink: 0;
}

.popup-close-btn {
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 0.2rem;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  z-index: 1000;
}

.popup-close-btn svg {
  fill: var(--primary-color-700);
  border-radius: 50%;
  width: 1.5rem;
  height: auto;
  transition: 0.1s ease all;
}

.popup-book-error .popup-close-btn svg:hover {
  background: #9d6161;
  fill: #fff;
}

.popup-book-added .popup-close-btn svg:hover {
  background: var(--secondary-color);
  fill: #fff;
}

.loading-spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
}

.loading-spinner {
  transform-origin: center;
  width: 4rem;
  animation: loading-spinner-rotate 1s linear infinite;
}

.loading-spinner circle {
  fill: none;
  stroke: var(--primary-color-700);
  stroke-width: 4;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: loading-spinner-circle-anim 0.7s ease-in-out infinite;
}

@keyframes loading-spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-spinner-circle-anim {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes section-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem;
  background: #f6f5ff;
}

.app-logo {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--primary-color-700);
}

.app-logo span {
  color: var(--accent-color-500);
}

/* NAVIGATION */

nav {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.search-wrapper {
  position: relative;
  display: flex;
  gap: 1rem;
  width: 55rem;
  height: 5rem;
  border-radius: 0.5rem;
}

#search {
  height: 100%;
  border: 1px solid #f0e8fc;
  outline: 1px solid transparent;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  color: var(--primary-color-700);
  padding: 0.5rem 1rem;
  font-weight: 500;
  z-index: 1;
  transition: 0.2s ease border-color;
}

#search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-image: url(/src/assets/svg/close.svg);
  background-position: center;
}

#search:focus {
  border-color: var(--primary-color-700);
}

#search::placeholder {
  color: #9893c3;
  font-weight: 400;
  font-size: 1.6rem;
}

.search-button {
  background: #f6f5ff;
  color: var(--primary-color-700);
  min-width: 12rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: 0.2s ease background-color;
  z-index: 1;
}

.search-button:hover,
.bookshelf-btn:hover {
  background: #f1f0ff;
}

.bookshelf-actions {
  position: relative;
  z-index: 1000;
}

.bookshelf-actions-list {
  position: absolute;
  right: -4px;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 35rem;
  border-radius: 0.5rem;
  transform: translateY(15%);
  transition: 0.2s ease all;
}

.bookshelf-actions-dropdown-on {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.bookshelf-btn {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  background: #f6f5ff;
  color: var(--primary-color-700);
  height: 5rem;
  border-radius: 0.5rem;
  padding: 0.7rem 0.5rem;
  outline: 1px solid transparent;
  transition: outline-color 0.2s ease;
}

.bookshelf-btn:focus {
  outline-color: var(--outline-color);
}

.bookshelf-btn svg {
  width: 1.6rem;
  margin: 0.3rem;
  transition: 0.2s ease transform;
}

.bookshelf-btn .rotate {
  transform: rotate(-180deg);
}

.bookshelf-actions-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--primary-color-500);
}

.bookshelf-actions-list li:first-of-type {
  border-radius: 0.5rem 0.5rem 0 0;
}

.bookshelf-actions-list li:last-of-type {
  border-radius: 0 0 0.5rem 0.5rem;
}

.bookshelf-actions-list a {
  display: flex;
  padding: 1rem;
}

.bookshelf-actions-list li:hover {
  background: var(--list-hover-color);
}

.bookshelf-actions-list a .arrow-svg {
  transition: 0.2s ease all;
  opacity: 0;
}

.bookshelf-actions-list a:hover .arrow-svg {
  opacity: 1;
  transform: translateX(5px);
}

.bookshelf-action-img {
  width: 6.5rem;
  margin-right: 3rem;
  border-radius: 0.5rem;
}

.bookshelf-action-title {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.bookshelf-action-description {
  font-size: 1.5rem;
}

section {
  animation: section-anim 0.5s ease forwards;
}

/* HERO SECTION */

.hero-section {
  background: #1555a9;
  background-image: url(/src/assets/svg/hero-bg.svg);
  background-size: cover;
  background-position: center;
  margin-bottom: 10rem;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero-section-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}

.cta-wrapper h1 {
  color: #fff;
  font-size: 4.2rem;
  width: 55rem;
}

.cta-wrapper p {
  color: #fff;
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
}

.hero-cta {
  margin-top: 1.3rem;
  background: var(--secondary-color);
  color: #fff;
  height: 5.5rem;
  min-width: 13rem;
  border: none;
  justify-content: center;
}

.hero-cta svg {
  margin-left: 0.5rem;
}

.current-reading-book-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-book-svg {
  position: absolute;
  left: 4rem;
  z-index: 10;
  top: -7.8rem;
  height: 11rem;
  width: auto;
  opacity: 0;
  animation: no-book-svg-anim 0.5s forwards;
}

@keyframes no-book-svg-anim {
  100% {
    opacity: 1;
  }
}

.current-reading-img-wrapper {
  position: relative;
  background: var(--accent-color-700);
  border-radius: 2rem 2rem 0 0;
  height: 11rem;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 10%),
    inset 0 -12px 20px -15px rgb(0 0 0 / 30%);
  margin-bottom: -6px;
}

.current-reading-img-wrapper a {
  position: absolute;
  width: 11rem;
  height: 14rem;
  border-radius: 0.5rem;
  left: 2rem;
  bottom: 0;
  z-index: 10;
}

.current-reading-img-wrapper a img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 20px 10px 30px rgb(0 0 0 / 30%);
}

.current-reading-delimitator,
.single-book-delimitator {
  position: relative;
  border-bottom: 13px solid #2f578f;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border-left: 20px solid #e7111100;
  border-right: 20px solid transparent;
  z-index: 5;
}

.current-reading-delimitator {
  width: 39rem;
}

.single-book-delimitator {
  width: calc(100% + 40px);
  left: -20px;
}

.current-reading-delimitator::after,
.single-book-delimitator::after {
  content: "";
  background: #406aa3;
  border-radius: 0.3rem;
  height: 13px;
  width: calc(100% + 40px);
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 -20px;
}

.single-book-delimitator::after {
  box-shadow: 0 10px 30px rgb(0 0 0 / 50%);
}

.current-reading-img-wrapper,
.current-reading-book-details {
  width: 35rem;
}

.current-reading-book-details {
  position: relative;
  background: #fff;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 10%),
    inset 0 20px 20px -15px rgb(0 0 0 / 30%);
  border-radius: 0 0 2rem 2rem;
  margin-top: 1.2rem;
}

.current-reading-book-details div {
  padding: 0.5rem 2rem 2rem 2rem;
}

.current-reading-book-details span {
  display: block;
  padding: 0.5rem 2rem;
  color: var(--primary-color-600);
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom: 1px solid var(--primary-color-500);
}

.current-reading-img-enter {
  opacity: 0;
}

.current-reading-img-enter-active {
  opacity: 1;
  transition: 0.5s ease all;
}

.current-reading-img-exit {
  opacity: 1;
  transform: translateX(0);
}

.current-reading-img-exit-active {
  opacity: 0;
  transform: translateX(-30%);
  transition: 0.5s ease all;
}

.current-reading-details-enter {
  opacity: 0;
}
.current-reading-details-enter-active {
  opacity: 1;
  transition: 0.5s ease all;
}

.current-reading-details-exit-active {
  display: none;
}

.current-reading-empty h2 {
  margin-bottom: 1rem;
}

.current-reading-book-wrapper h2 {
  font-size: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.current-reading-book-wrapper p {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.current-reading-book-wrapper .btn svg {
  margin-left: 0.5rem;
}

.hero-btn-finished {
  color: var(--secondary-color);
}

.hero-btn-finished:hover {
  background: #0287600d;
}

.hero-btn-finished svg {
  margin-right: 0.5rem;
}

.change-current-book {
  position: absolute;
  height: 3rem;
  left: 11.5rem;
  top: -4.5rem;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 50%;
  display: flex;
  z-index: 100;
  width: 3rem;
  align-items: center;
  justify-content: center;
}

.change-current-book-btn {
  width: inherit;
  height: inherit;
}

.change-current-book-btn svg {
  width: inherit;
  height: inherit;
  fill: var(--secondary-color);
  cursor: pointer;
  transition: 0.2s ease transform;
}

.change-current-book .btn-active {
  transform: rotate(45deg);
}

.change-current-book ul {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 20rem;
  width: max-content;
  max-height: 20rem;
  overflow: auto;
  background: #fff;
  box-shadow: 3px 3px 20px rgb(32 33 36 / 15%);
  border-radius: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10%);
  transition: 0.2s ease all;
}

.change-current-book ul button {
  font-size: 1.6rem;
  padding: 1.2rem 0.8rem;
  text-align: start;
  color: var(--primary-color-700);
  font-weight: 500;
  width: 100%;
  cursor: pointer;
}

.change-current-book ul button:hover,
.change-current-book ul button:focus-visible {
  background: var(--list-hover-color);
}

.change-current-book ul button:not(:last-of-type) {
  border-bottom: 1px solid var(--primary-color-500);
}

.change-current-book .change-book-list-visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}

/* BEST SELLED BOOKS SECTION */

.best-selled-books h2 {
  display: inline-flex;
  align-items: center;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.best-selled-books .loading-spinner-wrapper {
  position: static;
  margin-left: 3rem;
}

.best-selled-title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.best-selled-title-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: var(--accent-color-600);
  z-index: -1;
}

.best-selled-title-wrapper a {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--accent-color-600);
  padding: 0.7rem 0.7rem 0.7rem 1.4rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.3rem;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-weight: 500;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 50%);
}

.best-selled-books h3 {
  font-size: 1.6rem;
  padding: 1rem;
  background: #f6f5ff;
  color: var(--accent-color-600);
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.book-list .book {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* transition: 0.4s ease all; */
}

.book-list .top-card {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.book-list .top-card div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-list .bottom-card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  background: #fdfcff;
  border-top: 1px solid #e8e6ff;
  border-radius: 0 0 0.5rem 0.5rem;
}

.book-list .actions {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  flex-wrap: wrap;
  margin-left: 12rem;
}

.book-list .actions button.not-allowed {
  cursor: not-allowed !important;
}

.bottom-card .loading-spinner-wrapper {
  position: static;
  transform: translateX(0);
  margin-left: initial;
}

.bottom-card .loading-spinner-wrapper svg {
  width: 1.6rem;
}

.book-list .actions button,
.book-list .actions a,
.book-list .actions span {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  justify-content: center;
}

.book-list .actions span {
  color: var(--primary-color-700);
}

.book-list .actions button,
.book-list .actions a {
  color: var(--primary-color-600);
  cursor: pointer;
  transition: 0.2s ease color;
}

.book-list .actions button:hover,
.book-list .actions a:hover {
  color: var(--primary-color-700);
}

.book-list .details-and-remove {
  display: flex;
  gap: 1rem;
}

.book-list .details,
.book-list .details-and-remove .remove {
  display: grid;
  place-content: center;
  min-width: 13rem;
  min-height: 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
}

.book-list .details-and-remove .remove {
  color: #b53333;
  background: rgb(181 51 51 / 5%);
}

.book-list .details {
  background: var(--secondary-color);
  color: #fff;
}

.remove-item {
  transform: translateY(10%);
  opacity: 0;
}

.book-list img {
  width: 10rem;
  height: 13rem;
  border-radius: 0.5rem;
  box-shadow: 20px 10px 30px rgb(0 0 0 / 30%);
}

.book-list h4 {
  font-size: 2rem;
}

.weeks-on-list {
  color: var(--primary-color-600);
  font-weight: 600;
  font-size: 1.3rem;
}

.book-list p {
  font-size: 1.7rem;
}

/* LOADING SKELETON BEST SELLED SECTION */

.loading-skeleton-heading {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background: #ebebeb;
  height: 2.7rem;
  width: 18rem;
  border-radius: 0.5rem;
}

.loading-skeleton-book {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 1rem;
  border-radius: 0.5rem;
}

.loading-skeleton-book > div {
  background: #ebebeb;
  border-radius: 0.5rem;
}

.loading-skeleton-book-img {
  width: 11rem;
  height: 13rem;
}

.loading-skeleton-book-top {
  width: 14rem;
  height: 1.3rem;
  margin-top: 1rem;
}

.loading-skeleton-book-title {
  width: 14rem;
  height: 2.5rem;
  margin: 1rem 0;
}
.loading-skeleton-book-author {
  width: 18rem;
  height: 1.3rem;
}

/*TOP 15 SECTION */

.top-15-section h1 {
  font-size: 2rem;
}

.top-15-section h3 {
  font-size: 1.5rem;
  color: var(--primary-color-600);
  margin-bottom: 2rem;
}

/* SINGLE BOOK PAGE */

.single-book {
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.single-book .img-wrapper {
  position: relative;
  width: 100%;
  background: var(--accent-color-700);
  border-radius: 2rem 2rem 0 0;
  height: 15rem;
  box-shadow: inset 0 -12px 20px -15px rgb(0 0 0 / 30%);
}

.single-book .img-wrapper img {
  height: 18rem;
  width: 15rem;
  position: absolute;
  left: 2rem;
  bottom: -0.6rem;
  z-index: 10;
  border-radius: 0.5rem;
  box-shadow: 20px 10px 30px rgb(0 0 0 / 30%);
}

.single-book-bottom-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  background: #fff;
  border-radius: 0 0 2rem 2rem;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.single-book-title-author,
.single-book-cta-wrapper,
.single-book-description-details,
.single-book-details {
  padding: 0 2rem;
}

.single-book-title-author {
  grid-area: b;
}

.single-book-title-author h2 {
  font-size: 2rem;
}

.single-book-title-author p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

.single-book-cta-wrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  height: fit-content;
  grid-area: c;
}

.single-book-cta-wrapper button svg {
  margin-right: 0.5rem;
}

.single-book-cta-wrapper button:nth-of-type(1) {
  color: var(--accent-color-500);
}

.single-book-cta-wrapper button:nth-of-type(3) {
  color: var(--secondary-color);
}

.single-book-cta-wrapper button:nth-of-type(3):hover {
  background: #0287600d;
}

.book-description-wrapper {
  position: relative;
}

.book-description {
  max-height: 150px;
  overflow: hidden;
  font-size: 1.6rem;
  transition: 0.3s ease all;
  line-height: 2.5rem;
  color: var(--primary-color-600);
}

.book-description-bottom-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    transparent 0%,
    transparent 84%,
    #ffffff47 84%,
    #ffffffcf 95%
  );
  left: 0;
  top: 0;
}

.book-description b,
.book-description i {
  color: var(--primary-color-700);
}

.book-description p {
  color: var(--primary-color-600);
}

.single-book-description-details .read-more-btn {
  color: var(--accent-color-600);
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.single-book-description-details .read-more-btn svg {
  margin-left: 0.5rem;
}

.single-book-details {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
  background: #fdfcff;
  border-top: 1px solid #eeedff;
  border-radius: 0 0 2rem 2rem;
}

.single-book-details h3,
.single-book-details p {
  font-size: 1.5rem;
}

.single-book-details h3 {
  margin-bottom: 0.8rem;
}

.single-book-details p,
.single-book-details p span {
  display: inline-flex;
  align-items: center;
}

.single-book-details p span {
  color: var(--secondary-color);
  margin-right: 0.5rem;
}

/* SEARCH SECTION */
.search-section,
.bookshelf-section,
.top-15-section,
.single-book {
  margin-top: 6rem;
}

.search-section .book-list,
.bookshelf-section .book-list {
  margin-bottom: 0;
  border-bottom: none;
}

.search-section-title {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.search-section-title svg {
  margin-right: 0.5rem;
}

.search-section-title span {
  font-weight: 700;
  color: var(--primary-color-700);
  margin-left: 0.7rem;
}

/* BOOKSHELF SECTION */
.bookshelf-section {
  position: relative;
}

.bookshelf-section h1 {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-bottom: 5rem;
}

.empty-bookshelf-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-bookshelf-wrapper p {
  margin-bottom: 0;
  text-align: center;
}

.empty-bookshelf-enter {
  opacity: 0;
  transform: translateX(-50%) translateY(10%);
}

.empty-bookshelf-enter-active {
  opacity: 1;
  transform: translateX(-50%) translateY(0%);
  transition: 0.2s ease all;
}

.empty-bookshelf-wrapper img {
  width: 15rem;
  height: auto;
}

.empty-bookshelf-wrapper h1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.empty-bookshelf-wrapper p {
  font-size: 1.7rem;
}

.empty-bookshelf-wrapper a,
.empty-bookshelf-wrapper button {
  color: var(--accent-color-500);
  font-weight: 500;
  padding: 0.5rem;
  font-size: inherit;
  cursor: pointer;
}

/*FOOTER */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 1.6rem 0;
  font-size: 1.8rem;
  background: #f6faff;
}

.footer-creator {
  width: 1100px;
  font-size: 1.6rem;
}

.footer-creator a {
  color: var(--primary-color-700);
  text-decoration: underline;
  font-weight: 500;
}

/* ERROR SECTION */

.error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  width: 100%;
}

.error-section svg {
  width: 11rem;
  height: auto;
}

.error-section svg {
  fill: #9d6161;
}

.error-section h1 {
  font-size: 2.2rem;
  margin-top: 2rem;
}

.error-section .btn {
  margin-top: 2rem;
}

/* MEDIA QUERIES */

@media (min-width: 2000px) {
  html {
    font-size: 80%;
  }

  section,
  .nav-content,
  .footer-creator {
    width: 1500px;
  }
}

@media (max-width: 1200px) {
  body {
    padding-bottom: 5rem;
  }

  .search-wrapper {
    width: 45rem;
  }

  section,
  .footer-creator,
  .empty-bookshelf-wrapper {
    width: 100%;
    padding: 0 4rem;
  }

  .hero-section-content {
    width: 100%;
  }

  .nav-content {
    padding: 2rem 4rem;
    width: 100%;
  }

  .cta-wrapper h1 {
    width: auto;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 57%;
  }
}

@media (max-width: 850px) {
  .nav-content {
    width: 100%;
    display: grid;
    grid-template-areas: "a b" "c c";
    gap: 2rem;
  }

  .app-logo {
    grid-area: a;
  }

  .bookshelf-actions {
    grid-area: b;
    justify-self: end;
  }

  .search-wrapper {
    grid-area: c;
    width: 100%;
  }

  .loading-spinner-wrapper {
    top: 20rem;
  }

  .cta-wrapper h1 {
    font-size: 3.5rem;
  }

  .cta-wrapper p {
    font-size: 2rem;
  }

  .current-reading-img-wrapper,
  .current-reading-book-details {
    width: 31rem;
  }

  .current-reading-delimitator {
    width: 35rem;
  }
}

@media (max-width: 750px) {
  .hero-section {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5rem;
  }

  .hero-section-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .book-list .actions {
    margin-left: 0;
  }

  .best-selled-books h3 {
    align-self: flex-start;
  }

  .current-reading-book-wrapper {
    width: 100%;
    margin-top: 4rem;
  }

  .current-reading-delimitator {
    width: 100%;
  }

  .current-reading-img-wrapper,
  .current-reading-book-details,
  .single-book {
    width: calc(100% - 40px);
  }

  .single-book .img-wrapper {
    height: 12rem;
  }

  .single-book .img-wrapper img {
    height: 15rem;
    width: 12rem;
  }

  .change-current-book ul {
    left: 50%;
    transform: translate(-50%, 10%);
  }

  .change-current-book .change-book-list-visible {
    transform: translate(-50%, 0%);
  }
}

@media (max-width: 650px) {
  .search-section,
  .bookshelf-section,
  .top-15-section {
    margin-top: 4rem;
  }

  .best-selled-books h2,
  .best-selled-books h3,
  .best-selled-books a {
    line-height: normal;
  }

  .best-selled-title-wrapper {
    justify-content: flex-start;
  }

  .bookshelf-section h1 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 550px) {
  section,
  .footer-creator,
  .empty-bookshelf-wrapper {
    padding: 0 2rem;
  }

  .nav-content {
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  .hero-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  .cta-wrapper h1 {
    font-size: 3rem;
  }

  .cta-wrapper p {
    font-size: 1.9rem;
  }

  .best-selled-title-wrapper {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .best-selled-books h3 {
    color: var(--primary-color-700);
  }

  .best-selled-title-wrapper::after {
    display: none;
  }

  .best-selled-title-wrapper a {
    position: static;
    transform: translateY(0);
    white-space: nowrap;
  }

  .single-book {
    width: 100%;
  }

  .single-book-delimitator {
    width: calc(100% + 20px);
    left: -10px;
    border-left-width: 10px;
    border-right-width: 10px;
  }

  .single-book-delimitator::after {
    width: calc(100% + 20px);
    margin: 0 -10px;
    top: 11px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 50%;
  }

  .section,
  .footer-creator,
  .empty-bookshelf-wrapper {
    padding: 0 1.5rem;
  }

  .nav-content {
    padding: 1.5rem;
  }

  .bookshelf-actions-list {
    width: 30rem;
  }
}
